canvas {
	position: fixed;
	top: 0;
	left: 0;
}

:root {
	--dark-bg: rgba(0, 19, 83, 0.651);
	--spacing: 350px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 400;
	font-style: normal;
}

main {
	width: 100vw;
	color: white;
	z-index: 99;
	position: absolute;
	width: 100%;
	margin: 0px auto;
	padding: 120px 0px;
	
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.topButtonDiv {
	text-align: right;
}

#exitButton {
	border: 3px outset var(--dark-bg);
	background-color: transparent;
	height: 50px;
	width:50px;
	cursor:pointer;
	color: var(--dark-bg);
	align-items: right;
	border-radius: 50%;
	letter-spacing: 1px;
	font-weight: bold;
	transition: all 0.3s ease;
}

#exitButton:hover {
	background-color: red;
	color: white;
}

.bottomButtonDiv {
	text-align: center;
}

#yesButton {
	outline: none;
	height: 40px;
	text-align: center;
	background-color: rgba(25, 211, 0, 0.568);
	width: 130px;
	border-radius: 40px;
	border: 2px solid rgb(10, 88, 0);
	color: rgb(10, 88, 0);
	letter-spacing: 1px;
	text-shadow: 0.3;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
}

#yesButton:hover {
	color: white;
	background: rgb(10,88, 0);
}

#textWelcome {
	display: block;
}

#textBlockquote1 {
	display: none;
}

#textTechStack {
	display:none;
}

#textGear {
	display:none;
}
#textRock {
	display:none;
}
#textChurch {
	display:none;
}

#textFavoProjects {
	display:none;
}

#textBlockquote2 {
	display: none;
}

#otherHobbies {
	display: none;
}

#textPromoTech {
	display: none;
}

#textThanks {
	display: none;
}

#textQuestions {
	display: none;
}

h1, h2, h3, blockquote {
	margin-top: 0;
	font-family: elevon, sans-serif;
	font-weight: 700;
	font-style: normal;
}

	header {
		background: var(--dark-bg);
		grid-column: 2 / span 10; /*start at 2nd columm ,let it span 5 columns*/
		font-size: 2.5rem;
		padding: 2rem;
		margin-bottom: var(--spacing);
		border: 3px outset var(--dark-bg);
	}

		section {
			grid-column: 2 / 8; /*start at 2nd column end at 8th column*/
			padding: 1rem;
			background: var(--dark-bg);
			font-size: 1.25rem;
			line-height: 1.5;
			margin-bottom: var(--spacing);
		}

		blockquote {
			margin: 0;
			padding: 0;
			grid-column: 2 / span 9;
			margin-bottom: var(--spacing);
		}

		blockquote p {
			color: black;
			background-color: white;
			font-size: 4rem;
			display: inline;
			line-height: 1;
		}

		.left {
			grid-column: 6 / 12;
		}